[submodule "Cappuccino/vendor/spdlog"]
	path = Cappuccino/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cappuccino/vendor/GLFW"]
	path = Cappuccino/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
